# Ignore node_modules directory
node_modules/

# Ignore package.json and package-lock.json
package.json
package-lock.json

# Ignore server.js
server.js

# Ignore any log files
*.log

# Ignore any .env files
.env

# Ignore any .DS_Store files (MacOS)
.DS_Store

# Ignore any .idea directories (JetBrains IDEs)
.idea/

# Ignore any .vscode directories (Visual Studio Code)
.vscode/
